.btnStyle{
    @apply p-2 px-4 rounded-md font-medium m-0.5;
    color: black;
    background-color: aliceblue;
}
.btnStylePrimary{
    background-color: #793AFF;
    color: rgb(248, 248, 248);
}
.btnStylePrimaryBlack{
    background-color: #411E8B;
    color: rgb(248, 248, 248);
}
.btnStyleSecundary{
    background-color: #FFDE59;
    color: black;
}